h1,
h2,
h3,
p,
button,
small {
    font-family: "Noto Serif JP", serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #333344;
}

small {
    position: absolute;
    bottom: 3%;
}





.plusMemo-group {
    max-width: 500px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 10px 30px 30px 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.plusMemo-group label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #444;
}

.plusMemo-group input {
    height: 40px;
}

.plusMemo-group input,
.plusMemo-group textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.plusMemo-group textarea {
    resize: vertical;
    min-height: 100px;
    margin-top: -10px;
}





.memo-group {
    background-color: #fafafa;
    margin: 0 auto 50px auto;
    padding: 5px 10px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.memo-container {
    background-color: #fafafa;
    margin: 30px auto;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    position: relative;
    list-style: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
    word-break: break-all;
    transition: all 0.5s 0s ease;
    display: flex;
    align-items: center;
}

.memo-container:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.memo-container li {
    width: 100%;
}

.memo-container h2,
.memo-container p {
    margin-left: 15px;
    margin-right: 15px;
}

.memo-container h2 {
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}





.memo {
    background-color: #fafafa;
    margin: 30px auto;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    list-style: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
    word-break: break-all;
}

.memo h2,
.memo p {
    margin-left: 15px;
    margin-right: 15px;
}

.memo h2 {
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}





/*背景（参考：https://125naroom.com/web/3737）*/

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    z-index: -1;
}

.Paper_v2 {
    background-image:
        repeating-linear-gradient(to bottom,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px),

        repeating-linear-gradient(to right,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px);
}





/*ボタンのデザイン（参考：https://copypet.jp/417/）*/

.button-group {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: right;
}

.button-group button {
    width: 120px;
    margin-left: 20px;
}

.memo-container button {
    position: absolute;
    width: 120px;
    right: 25px;
}

.memo button {
    position: absolute;
    width: 120px;
    top: 22px;
    right: 25px;
}

.add-button,
.delete-button,
.update-button {
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    background-color: #f5f5f5;
    color: #333333;
    border: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.add-button:hover,
.delete-button:hover,
.update-button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.add-button {
    border-right: 27px solid #cd0000;
}

.delete-button {
    border-right: 27px solid #0000cd;
}

.update-button {
    border-right: 27px solid #00cd00;
}

.add-button:hover {
    border-right: 27px solid #8b0000;
}

.delete-button:hover {
    border-right: 27px solid darkblue;
}

.update-button:hover {
    border-right: 27px solid #008b00;
}


.add-button::before,
.delete-button::before,
.update-button::before {
    position: absolute;
    bottom: 2px;
    right: -20px;
    z-index: -1;
    transform: rotate(5deg);
    width: 100%;
    height: 50%;
    background-color: gray;
    content: "";
    filter: blur(4px);
}

.plusMemo-group button {
    width: 100%;
    margin-top: 25px;
    font-size: 16px;

}

